OPENHIM_USERNAME = "interop@openhim.org"
OPENHIM_PASSWORD = "password"
OPENHIM_API_URL = "https://openhim-core:8080"
OPENHIM_CHANNEL="echis-mediator"
PORT = 6000
KHIS_URL = https://test.hiskenya.org/api
KHIS_USERNAME = admin
KHIS_PASSWORD = password
POSTGRES_SERVER_URL = localhost
POSTGRES_USERNAME = postgres
POSTGRES_PASSWORD = password
POSTGRES_DB_NAME = chis_kenya
POSTGRES_PORT = 5432
MEDIATOR_URL = "https://interop-gateway-staging.health.go.ke/interop"
MEDIATOR_USERNAME = "echis"
MEDIATOR_PASSWORD = "password"