OPENHIM_USERNAME =
OPENHIM_PASSWORD = 
OPENHIM_API_URL = 
OPENHIM_CHANNEL=
PORT = 
KHIS_URL = 
KHIS_USERNAME = 
KHIS_PASSWORD = 
POSTGRES_SERVER_URL = 
POSTGRES_USERNAME = 
POSTGRES_PASSWORD = 
POSTGRES_DB_NAME = 
POSTGRES_PORT = 
MEDIATOR_URL = 
MEDIATOR_USERNAME = 
MEDIATOR_PASSWORD = 
CLIENT_REGISTRY_URL = 
CLIENT_REGISTRY_TOKEN_URL = 
CLIENT_REGISTRY_TOKEN_DEV_URL = 
CHT_URL = 
CHT_USERNAME = 
CHT_PASSWORD = 
FHIR_URL=
NHDD_URL = 
KHMFL_URL = 
SNOMED_CT_URL = 

# Add each instance as CHT_{{client_id_in_openhim}}_URL

CHT_STAGING_URL=
CHT_TRAINING_URL=
# ...
 
# Add each instance as CHT_{{client_id_in_openhim}}_USERNAME
CHT_STAGING_USERNAME=
CHT_TRAINING_USERNAME=
# ...

# Add each instance as CHT_{{client_id_in_openhim}}_PASSWORD
CHT_STAGING_PASSWORD=
CHT_TRAINING_PASSWORD=
# ...
