OPENHIM_USERNAME=interop@openhim.org
OPENHIM_PASSWORD=medic@1234

OPENHIM_API_URL=https://openhim-core:8080
OPENHIM_CHANNEL=echis-mediator
CHANNEL_CONFIG_ENDPOINTS_URL=http://mediator
PORT=6000

HIE_URL= 
HIE_USER= 
HIE_PASS= 

CHT_local_URL=http://api:5988
CHT_local_USERNAME=admin
CHT_local_PASSWORD=password

ENV = dev